---
import { getPublishedPosts } from "../../lib/blog";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NameTag from "../../components/NameTag.astro";
import { formatDateLong, toISODateString } from "../../lib/date";

const posts = await getPublishedPosts();
const blogPostCount = posts.length;
const blogPostLabel =
  new Intl.PluralRules("en-US").select(blogPostCount) === "one"
    ? "blog post"
    : "blog posts";
const mostRecentBlogPost = posts[0];
---

<BaseLayout title="All blog posts | carter.works">
  <Fragment slot="head">
    <meta
      name="description"
      property="og:description"
      content="Everything fit to print!"
    />
    <style>
      ol {
        list-style: none;
      }
    </style>
  </Fragment>
  <header>
    <NameTag href="/" />
  </header>
  <section>
    <p>
      He has written {blogPostCount} {blogPostLabel}. The most recent was <a
        href={`/blog/${mostRecentBlogPost.id}/`}
        ><q>{mostRecentBlogPost.data.title}</q></a
      >
      and it was written on <time
        datetime={toISODateString(mostRecentBlogPost.data.pubDate)}
      >
        {formatDateLong(mostRecentBlogPost.data.pubDate)}
      </time>. You can get updates <a href="/blog/atom.xml">via Atom.</a>
    </p>
  </section>
  <section class="stack">
    <h1>All blog posts</h1>
    <ol class="stack">
      {
        posts.map((post) => (
          <li>
            <article>
              <h2>
                <a href={`/blog/${post.id}/`}>
                  {post.data.draft && "Rough Draft: "}
                  {post.data.title}
                </a>
              </h2>
              <time datetime={toISODateString(post.data.pubDate)}>
                {formatDateLong(post.data.pubDate)}
              </time>
            </article>
          </li>
        ))
      }
    </ol>
  </section>
</BaseLayout>
