---
import type { CollectionEntry } from "astro:content";
import { formatDate, toISODateString } from "../lib/date";

interface Props {
  post: CollectionEntry<"blog">;
  className?: string;
}
const { post, className, ...props }: Props = Astro.props;
const title = post.data.title || "A short thought";
---

<a
  href={`/blog/${post.id}/`}
  class={`text-xl ${className}`}
  {...props}
>
  {title}
</a>
<div class="flex flex-wrap flex-row gap-1">
  <time datetime={toISODateString(post.data.pubDate)}>
    {formatDate(post.data.pubDate)}
  </time>
  {
    post.data.tags != null && post.data.tags.length > 0 && (
      <ul class="flex flex-row gap-1">
        {post.data.tags.map((t) => (
          <li>
            <a
              href={`/blog/tags/${encodeURI(t)}`}
              class="underline"
            >
              #{t}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>
