---
import Button from "../../components/Button.astro";
import DownloadAs from "../../components/DownloadAs.astro";
import Prose from "../../components/Prose.astro";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { clip } from "../../services/clipper";
import {
	generateObsidianContents,
	generateObsidianUri,
} from "../../services/obsidian";
import { createFilename, formatDate, isUrl } from "../../shared/utils";
export const prerender = false;
interface Frontmatter {
	title: string;
	description: string;
	pubDate: number;
	tags: string[];
}
const { urlToClip } = Astro.params;
if (!urlToClip || !isUrl(urlToClip)) {
	return Astro.redirect(`/404?url=${encodeURIComponent(urlToClip)}`);
}

const article = await clip(new URL(urlToClip));
const plainTextSummary = article.summary
	? article.summary.replace(/<[^>]*>/g, "")
	: `${article.textContent.substring(0, 300)}…`;
const metadata = [article.author, new URL(article.url).hostname].filter(
	Boolean,
);
const markdownContent = generateObsidianContents(article);
const obsidianUri = generateObsidianUri(markdownContent, article.title);
const plainTextContent = `${article.title}\n---\nSummary\n\n${plainTextSummary}\n---\n${article.textContent}`;
const frontmatter = {
	title: article.title,
	description: plainTextSummary,
	pubDate: article.published ?? article.createdAt ?? new Date(),
	tags: article.tags,
	originalUrl: article.url,
	additionalMetadata: metadata,
};
---

<BlogPostLayout title={frontmatter.title} frontmatter={frontmatter}>
	<div slot="controls" class="flex flex-wrap items-center gap-2">
		<div
			class="
			text-center
			hover:bg-slate-200
			active:bg-slate-400"
		>
			<Button href={obsidianUri}> Save to Obsidian </>
		</div>
		<DownloadAs
			
			contents={markdownContent}
			filename={`${createFilename(article.title)}.md`}
		>
			Download as .md
		</D>
		<DownloadAs
			contents={plainTextContent}
			filename={`${createFilename(article.title)}.txt`}
		>
			Download as .txt
		</DownloadAs>
	</div>
	<Fragment set:html={article.htmlContent} />
</BlogPostLayout>
