---
import Button from "../../components/Button.astro";
import DownloadAs from "../../components/DownloadAs.astro";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { clip } from "../../services/clipper";
import { KVCache } from "../../services/kvStore";
import {
	generateObsidianContents,
	generateObsidianUri,
} from "../../services/obsidian";
import type { ReadablePage } from "../../shared/types";
import { createFilename, isUrl } from "../../shared/utils";
export const prerender = false;
interface Frontmatter {
	title: string;
	description: string;
	pubDate: number;
	tags: string[];
}
const { urlToClip } = Astro.params;
if (!urlToClip || !isUrl(urlToClip)) {
	return Astro.redirect(`/404?url=${encodeURIComponent(urlToClip)}`);
}

const articleCache = new KVCache(urlToClip, Astro.locals.runtime.env.articles);
const articleFromCache = await articleCache.get(urlToClip);
const parsedArticle = articleFromCache ? JSON.parse(articleFromCache) : null;
const article: ReadablePage | null = articleFromCache
	? ({
			...parsedArticle,
			published: new Date(parsedArticle.published),
		} satisfies ReadablePage)
	: await clip(new URL(urlToClip));
if (!article) {
	return Astro.redirect(`/404?url=${encodeURIComponent(urlToClip)}`);
}
if (article && !articleFromCache) {
	await articleCache.put(JSON.stringify(article), urlToClip, {
		// 30 days
		expirationTtl: 60 * 60 * 24 * 30,
	});
}
const metadata = [article.author, new URL(article.url).hostname].filter(
	Boolean,
);
const markdownContent = generateObsidianContents(article);
const obsidianUri = generateObsidianUri(markdownContent, article.title);
const plainTextContent = `${article.title}\n\n${article.textContent}`;
const frontmatter = {
	title: article.title,
	description: article.description,
	pubDate: article.published ?? article.createdAt ?? new Date(),
	tags: article.tags,
	originalUrl: article.url,
	additionalMetadata: metadata,
};
---

<BlogPostLayout title={frontmatter.title} frontmatter={frontmatter}>
	<div slot="controls" class="flex flex-wrap items-center gap-2">
		<div
			class="
			text-center
			hover:bg-slate-200
			active:bg-slate-400"
		>
			<Button link href={obsidianUri}> Save to Obsidian </>
		</div>
		<DownloadAs
			
			contents={markdownContent}
			filename={`${createFilename(article.title)}.md`}
		>
			Download as .md
		</D>
		<DownloadAs
			contents={plainTextContent}
			filename={`${createFilename(article.title)}.txt`}
		>
			Download as .txt
		</DownloadAs>
	</div>
	<Fragment set:html={article.htmlContent} />
</BlogPostLayout>
