---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { formatDateLong } from "../lib/date";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
}

const { frontmatter } = Astro.props;
const pubDateISO = frontmatter.pubDate.toISOString();
const humanFriendlyDate = formatDateLong(frontmatter.pubDate);
---

<BaseLayout title={`${frontmatter.title} | carter.works`}>
  <Fragment slot="head">
    <meta
      property="og:type"
      content="article"
    />
    <meta
      property="og:article:published_time"
      content={pubDateISO}
    />
    <meta
      property="og:article:author"
      content="Carter McBride"
    />
  </Fragment>
  <article>
    <header>
      <h1>
        {frontmatter.draft && "Rough Draft: "}{frontmatter.title}
      </h1>
      <p>
        <time datetime={pubDateISO}>{humanFriendlyDate}</time>
      </p>
    </header>
    <slot />
  </article>
</BaseLayout>
